@page "/"

<h1>Welcome to FoodReciper!</h1>
<h2>Your Personal Cookbook, Reimagined ❤️</h2>
<br />
<p>Settle in and make yourself at home! FoodReciper is the perfect place to keep all your beloved recipes safe and sound. Finally, one tidy spot for every dish you love to create.</p>
<p>Feeling adventurous? Discover your next favorite meal! Our handy search lets you browse countless recipes online and add them straight to your collection with ease.</p>
<p>Want peace of mind? Your precious recipes can be backed up or imported anytime via the <strong>Settings</strong> menu.</p>
<p>Happy Cooking!</p>

@code{

}